{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="box">
            <div class="col-lg-12">
                <div class="col-lg-8">
                    <hr>
                    <h2 class="intro-text text-center">Branches and Subdivisions</h2>
                    <hr>
                </div>
            </div>
                <div class="col-md-4 text-left">
                    <p><a href="https://hiamfoundation.am/" target="_blank">Armenian Branch</a></p>
                </div>
                <div class="col-md-4 text-left">
                    <p>USA Branches<strong>
                    <p><a href="{{ path('quartet-homepage') }}">HI-AM Quartet</a></p>
                    <p>Hi-Ex Postal Services.</p>
                    <p>Youth And Community Center</p>
                </div>
                <div class="col-md-4">
                    <form class="form-inline text-center">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <a href="#" class="input-group-addon"><i class="icon-search"></i></a>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
                            </div>
                        </div>
                    </form>

                    <h3 class="brand-name text-center" style="font-size: 28px; margin-top: 20px">Recent Posts</h3>
                    <hr class="tagline-divider">
                    <a href="#"><p class="text-center text-uppercase" style="font-size: 20px">
                            FIND YOUR INNER POWER BY HELPING OTHERS
                        </p>
                    </a>
                    <hr class="tagline-divider">
                    <div class="col-md-12">
                        <div id="example1"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
