{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">ANNOUNCEMENT</h2>
                    <hr>
                </div>
                <div class="col-md-8 text-content">
                    <p><b>Employment Announcement</b></p>
                    <p>Music Advisor needed</p>

                    <p><b>Job Duties:</b></p>
                    <p>&nbsp;Implement the organization's musical and educational development projects through advising and counseling the foundation's donees, beneficiaries, counselees, and other interested individuals in the community, with the aim of presenting Armenian traditional music to the modern American society. Participate in community events and deliver group consultations on topics such as introduction to Armenian music, Armenian sacred music, traditional Armenian music and songs, including ethnic, folk, pop, and variety-jazz genres. Develop counseling activities helping the organization's different sections to nurture the Armenian Diaspora in the United States and to strengthen the Armenia-Diaspora links. Evaluate counselees' melodic abilities, advise on career opportunities in relevant music industries, and refer to programs based on interests, aptitudes, or educational assessments.</p>
                    <p>Minimum Job Requirements:</p>
                    <p><b>3 months of experience in the job offered</b>, and </p><p>Bachelor’s degree, or an alternative, equivalent or foreign equivalent in music.</p></p>
                    <p>Email resume to <a href="mailto:hiamfoundation@hotmail.com"><b>hiamfoundation@hotmail.com</b></a> or mail to Hi-Am Charity Foundation at 530 W Stocker St, #307, Glendale, CA 91202 (Tel: 818-395-1969).
                    <p>Job Site and Interview:</p>
                    <p>Glendale, California</p>
                </div>
                <div class="col-md-4">
                    <form class="form-inline text-center">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <a href="#" class="input-group-addon"><i class="icon-search"></i></a>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
                            </div>
                        </div>
                    </form>

                    <h3 class="brand-name text-center" style="font-size: 28px; margin-top: 20px">Recent Posts</h3>
                    <hr class="tagline-divider">
                    <a href="#"><p class="text-center text-uppercase" style="font-size: 20px">
                            FIND YOUR INNER POWER BY HELPING OTHERS
                        </p>
                    </a>
                    <hr class="tagline-divider">
                    <div class="col-md-12">
                        <div id="example1"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
