{% extends "base.html.twig" %}
{% block content %}
    <div class="wrapper">
        <div class="">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="header-title">AAROGYA MED LLC <span class="text-capitalize">Why Direct from US</span></h1>
                </div>
                <div class="panel-body container">
                    <div class="bs-callout bs-callout-info">
                        <p>When you approve and provide payment of your invoice you are agreeing that you have read and understand AAMED Terms and Agreement Policy.</p>
                        <b>PAYMENT METHOD :</b>
                        <p>We accept Wire, ACH,  Visa, American Express and Discovery.  Your payment is process after you have approved your invoice and we have ordered your merchandise.  Credit terms of 15 days for brands, 30 days for generic can apply upon approval of credit application.</p>
                        <b>RETURNED CHECKS :</b>
                        <p>Returned item fee for Insufficient Funds (NFS): $35.00.</p>
                        <b>IMPROPER CHARGE BACK FEE :</b>
                        <p>Customers issuing a no cause/reason charge back after they have received their merchandise will be billed any fees incurred by AAMED as well as a $50.00 charge back fee. We must protect ourselves from this new type of crime/negligence.</p>

                        <b>PRODUCT AVAILABILITY :</b>
                        <p>Merchandise is subject to change or discontinue without notice. All information provided on AAMED is deemed reliable, but without any warranty. We are not responsible for a manufacturer's inability to supply us merchandise or if they update their product to different specifications than what is on our website. Any changes you are notified and must approve the change.</p>
                        <b>RETURN POLICY :</b>
                        <p>For any shipping errors made or any products damaged in transit by AAMED, the entire credit will be given to our customer. Any damage or error should be reported to AAMED,  within 1 business day of the receipt of the sale. Unauthorized returns if any shall not be processed for credit. Short-dated and refrigerated items are non-returnable. The purchaser shall be liable for 25% restocking fees with an addition to shipping charges for any return of orders after 24 hours of its execution. To report the damage or error in the products and to obtain the return authorization, we strongly advise you to call our customer service representatives at 1-888-975-8728.</p>
                        <b>ORDER CANCELING :</b>
                        <p>All orders must be cancelled by online or email before 4 PM PST, M-F.</p>
                        <b>SHIPPING TERMS :</b>
                        <p>Orders are shipped via Fed Ex or UPS daily at our discretion. Additional charges for expedited shipping may apply.</p>
                        <b>UNPAID INVOICES SHOULD REFER TO AAMED, ACCOUNTING DEPARTMENT.</b>


                        <ul>
                            <li>If any invoice goes beyond 30 days past due, all the invoices shall become due and payable upon demand.</li>
                            <li>In such cases, if  AAMED, deems it necessary, they shall seek third party assistance for recovery and the customers abides to pay all the cost of collection including the Court charges, reasonable attorney’s fees through and including the appellate level.</li>
                            <li>In case of any disputes relating to or arising from the purchase of products from AAMED, LLC, the customers agrees to the jurisdiction and venue in Superior Court, California.</li>
                            <li>AAMED, LLC reserves a right to change the product price and quotations subject to the availability of the products as well as the fluctuations in prices from the vendors.</li>
                            <li>The customer agrees to notify AAMED LLC, in the event of any discrepancy found after the delivery of products within 24 BUSINESS HOURS of receipt of the products. In the event, the customer fails to notify, they agree to waive any/or all the claims and make the complete payment against the invoices and no discrepancy notifications shall be made after 24 BUSINESS HOURS of the receipt of the products.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
