{% extends ':quartet:base.html.twig' %}



{% block info %}
    <div class="info">

        <div class="infoPath">
            <h2>Performance Calendar</h2>
            <p>Below are some of the HI-AM Quartet's performance programs. In addition, HI-AM Quartet took part in many
                fundraisers, collaborated with the city, the church, and other organizations throughout the state of
                California. </p>
        </div>


        <div class="table">
            <table style="height: 138px; width: 600px;">
                <tbody>
                <tr>
                    <td>
                        <p>
                            <strong>Glendale<br>
                            </strong></p>
                        <p>
                            First Lutheran Church</p>
                        <p>
                            Friday Sep 30, 2005 at 7p.m</p>
                    </td>
                    <td>
                        <p>
                            <strong>Sacramento<br>
                            </strong></p>
                        <p>
                            Greek Orthodox Church of tthe Annunciation</p>
                        <p>
                            Saturday Nov 5, 2005 at 1 p.m.</p>
                    </td>
                </tr>
                </tbody>
            </table>


            <table align="center" style="width: 400px;">
                <tbody>
                <tr>
                    <td>
                        Mozart
                    </td>
                    <td>
                        Divertissement #1
                    </td>
                </tr>
                <tr>
                    <td>
                        Maurice Jarre
                    </td>
                    <td>
                        Lazas Theme from Doctor Zhivago
                    </td>
                </tr>
                <tr>
                    <td>
                        Eduard di Kapua
                    </td>
                    <td>
                        Oh Mari
                    </td>
                </tr>
                <tr>
                    <td>
                        Kreisler
                    </td>
                    <td>
                        Sorrows of Love
                    </td>
                </tr>
                <tr>
                    <td>
                        Komitas
                    </td>
                    <td>
                        Al Ayluks
                    </td>
                </tr>
                <tr>
                    <td>
                        Brams
                    </td>
                    <td>
                        Dance #4
                    </td>
                </tr>
                <tr>
                    <td>
                        Joplin
                    </td>
                    <td>
                        Gladiolus Rag Time
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        La Paluma
                    </td>
                </tr>
                <tr>
                    <td>
                        Barsegh Kanachayn
                    </td>
                    <td>
                        Oror
                    </td>
                </tr>
                <tr>
                    <td>
                        Kreisler
                    </td>
                    <td>
                        Happiness of Love
                    </td>
                </tr>
                <tr>
                    <td>
                        Karisma Mersi
                    </td>
                    <td>
                        Autumn Leaves
                    </td>
                </tr>
                <tr>
                    <td>
                        Kreisler
                    </td>
                    <td>
                        Beautiful Rosmary
                    </td>
                </tr>
                <tr>
                    <td>
                        Giacomo Puccini
                    </td>
                    <td>
                        O Mio Babbino Caro
                    </td>
                </tr>
                <tr>
                    <td>
                        Komitas
                    </td>
                    <td>
                        Echmiadzni Par
                    </td>
                </tr>
                <tr>
                    <td>
                        Chaplin
                    </td>
                    <td>
                        Fascination
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        Argentinean Tango
                    </td>
                </tr>
                <tr>
                    <td>
                        Gershwin
                    </td>
                    <td>
                        Summertime
                    </td>
                </tr>
                <tr>
                    <td>
                        Ruben Altunyan
                    </td>
                    <td>
                        Berd Par
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <p class="someText">
            <strong> Live Concert: Dedicated to the 20th Anniversary of the Victims of the Armenian Earthquake</strong>
        </p>

        <p class="someText">
            Dec 1, 2008 at 7:30 p.m.
        </p>

        <p class="someText">
            <strong> Glendale Church of the Brethren</strong>
        </p>

        <p class="someText" style="text-align: center;">
            <strong>I</strong></p>

        <div class="table">
            <table align="center" style="width: 400px;">
                <caption>
                    &nbsp;
                </caption>
                <tbody>
                <tr>
                    <td>
                        W. A Mozart
                    </td>
                    <td>
                        Divertimento op.K.136
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        1. Allegro
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        2. Andante
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        3. Presto
                    </td>
                </tr>
                <tr>
                    <td>
                        G. Puccini
                    </td>
                    <td>
                        Crisantemi
                    </td>
                </tr>
                <tr>
                    <td>
                        J.S. Bach
                    </td>
                    <td>
                        Aria
                    </td>
                </tr>
                <tr>
                    <td>
                        G.F. Handel - S. Aslamazyan
                    </td>
                    <td>
                        Passaglia
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <p class="someText" style="text-align: center;">
            <strong>II</strong></p>


        <div class="table">
            <table align="center" style="width: 200px;">
                <caption>
                    &nbsp;
                </caption>
                <tbody>
                <tr>
                    <td>
                        Komitas - Z. Sahakyan
                    </td>
                    <td>
                        <p>
                            Azgain Orhnerg<br>
                            2 songs from "Liturgy"</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        Komitas- S. Aslamazyan
                        <table align="center" style="width: 200px;">
                        </table>
                        <table align="center" style="width: 200px;">
                        </table>
                    </td>
                    <td>
                        <table align="center" style="width: 200px;">
                        </table>
                        Red Shawl (Al Ayloughes)
                    </td>
                </tr>
                <tr>
                    <td>
                        Folk Song - S. Aslamazyan
                    </td>
                    <td>
                        Nubar-Nubar
                    </td>
                </tr>
                <tr>
                    <td>
                        Komitas- S. Aslamazyan
                    </td>
                    <td>
                        Kele-Kele
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        Haberban
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        Yerkinken Ampela
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        Vagharshapat Dance
                    </td>
                </tr>
                <tr>
                    <td>
                        Astor Piazzolla
                    </td>
                    <td>
                        Libertango
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        Adios Nonino
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        La Muerte del Angel
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p class="someText">
            <strong>Live Concert &amp; Art Exhibit</strong>
        </p>

        <p class="someText">
            March 7, 2010at 6:30 p.m.
        </p>

        <p class="someText">
            First Congregational Church of Glendale
        </p>
        <br>

        <div class="table">
            <table align="center"  style="width: 400px;">
                <tbody>
                <tr>
                    <td>
                        A. Vivaldi</td>
                    <td>
                        La Primavera / Spring</td>
                </tr>
                <tr>
                    <td>
                        E. Elgar</td>
                    <td>
                        Salut d'Amour</td>
                </tr>
                <tr>
                    <td>
                        A. Piazzolla</td>
                    <td>
                        Libertango</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        Adios Nonino</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        La Muerte del Angel</td>
                </tr>
                <tr>
                    <td>
                        R. Altounyan</td>
                    <td>
                        "Berd" Dance</td>
                </tr>
                <tr>
                    <td>
                        W.A. Mozart</td>
                    <td>
                        Alleluia</td>
                </tr>
                <tr>
                    <td>
                        G. Puccini</td>
                    <td>
                        Oh Mio Babbino</td>
                </tr>
                <tr>
                    <td>
                        R. Leoncavallo</td>
                    <td>
                        Matinatta</td>
                </tr>
                <tr>
                    <td>
                        Chiara</td>
                    <td>
                        La Spagnola</td>
                </tr>
                <tr>
                    <td>
                        W. Sanderson</td>
                    <td>
                        Song of Love</td>
                </tr>
                <tr>
                    <td>
                        L. Arditi</td>
                    <td>
                        IL Bacio</td>
                </tr>
                <tr>
                    <td>
                        M. Sandoval</td>
                    <td>
                        Sin to Amor</td>
                </tr>
                <tr>
                    <td>
                        T. Cottrau</td>
                    <td>
                        Santa Lucia</td>
                </tr>
                <tr>
                    <td>
                        R. Falvo</td>
                    <td>
                        Dicitencello Vuie</td>
                </tr>
                <tr>
                    <td>
                        G. Verdi</td>
                    <td>
                        Brindisi, Libiano</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        From Traviata</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock info %}