{% extends ':quartet:base.html.twig' %}


{% block info %}
    <div class="info">

        <div class="infoPath">
            <h2>News</h2>
        </div>

        <div class="news">
            <div class="date">
                <p>Jul</p>
                <p>24</p>
            </div>
            <div class="newsContent">
                <h4>Music Advisor (job site/interview: Glendale, CA)</h4>
                <p>Employment Announcement</p>
                <p>Music Advisor needed</p>
                <p>Job Duties:</p>
                <div class="content">
                    <p>Implement the organization's musical and educational development projects through advising and
                        counseling the foundation's donees, beneficiaries, counselees, and other interested individuals
                        in the community, with the aim of presenting Armenian traditional music to the modern American
                        society. Participate in community events and deliver group consultations on topics such as
                        introduction to Armenian music, Armenian sacred music, traditional Armenian music and songs,
                        including ethnic, folk, pop, and variety-jazz genres. Develop counseling activities helping the
                        organization's different sections to nurture the Armenian Diaspora in the United States and to
                        strengthen the Armenia-Diaspora links. Evaluate counselees' melodic abilities, advise on career
                        opportunities in relevant music industries, and refer to programs based on interests, aptitudes,
                        or educational assessments.</p>
                    <p>Minimum Job Requirements: <br>
                        3 months of experience in the job offered, and Bachelor’s degree, or an alternative, equivalent
                        or foreign equivalent in music.</p>
                    <p>Email resume to hiamfoundation@hotmail.com or mail to Hi-Am Charity Foundation at 530 W Stocker
                        St, #307, Glendale, CA 91202 (Tel: 818-395-1969).</p>
                    <p>Job Site and Interview: <br>
                        Glendale, California</p>
                    <p>Email resume to Hi-Am Charity Foundation: <br>
                        hiamfoundation@hotmail.com or mail to 530 W Stocker St, #307, Glendale, CA 91202.</p>
                </div>
            </div>
        </div>

        <div class="news">
            <div class="date">
                <p>Jul</p>
                <p>24</p>
            </div>
            <div class="newsContent">
                <h4>Live Concert</h4>
                <div class="content">
                    <img src="{{ asset('bundles/app/images/IMG_4677(1).jpeg') }}" alt="">
                </div>
            </div>
        </div>

        <div class="news">
            <div class="date">
                <p>Jul</p>
                <p>5</p>
            </div>
            <div class="newsContent">
                <h4>HI-AM: The Art of Charity</h4>
                <div class="content">
                    <p>Interview by NARE GARIBYAN</p>
                    <p>The artist, the dancer, the teacher, the doctor and all other professions practice a type of art
                        specific to each discipline. That art may be a painting, a successful surgery or a stylistically
                        choreographed program. Amongst these disciplines there is the art of charity which involves
                        working with people and creating efficient and productive programs to assist and educate the
                        community at large.</p>
                    <p>One such group that has mastered the art of charity is the HI-AM Charity Foundation, a living,
                        non-profit entity since 2001. HI-AM encompasses the spirit of community involvement. They
                        practice the type that is rooted in benevolence in the realms of art, cultural affairs,
                        education, business and sports. HI-AM is determined to spread kindness in the Diaspora and in
                        Armenia with the guidance of Nshan Adjemian, the founding President of the HI-AM Charity
                        Foundation.</p>
                </div>
            </div>
        </div>

    </div>
{% endblock info %}