{% extends ':quartet:base.html.twig' %}



{% block info %}
    <div class="info">

        <div class="infoPath">
            <h2>Videos</h2>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/bVkxhpKWGqY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe  src="https://www.youtube.com/embed/vh50benFzsI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe  src="https://www.youtube.com/embed/OFN3I7OKNnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe  src="https://www.youtube.com/embed/6sLRQUBwQDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe  src="https://www.youtube.com/embed/MW6y4VSXL5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe  src="https://www.youtube.com/embed/ehoFZhXjeyw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <div class="video">
            <iframe  src="https://www.youtube.com/embed/Ssi6eaT5B9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe  src="https://www.youtube.com/embed/mnSSEs7_XP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/WvzbdRfp0a8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/PNTQQO77--s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/M3qhKTvTGYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/crzT4bo-ekw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/mw-vHYhOpUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/mdjCGPs4_-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/zgATS895kQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
{% endblock info %}